body{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 10px 90px;
    box-sizing: border-box;
    background: rgb(255, 255, 255);
    border-bottom: 1px solid #fff;
}

h1{
    color: darkblue;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h3{
    color: darkblue;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}   

h2{
    color: darkblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav .header{
    padding: 22px;
    height: 0px;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
}

nav ul{
    list-style: none;
    float: right;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li a{
    line-height: 80px;
    color: darkblue;
    padding: 12px 30px;
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
}

nav ul li a:hover{
    background: rgb(187, 187, 187);
    border-radius: 1px;
}

/* .imach{
    margin-top: 15%;
} */

main{
    /* width: 100%; */
    height: 50vh;
    filter: brightness(1);
    background: url(https://www.teahub.io/photos/full/45-454630_1080p-fish-wallpaper-hd.jpg);
    background-size: cover;
    position: relative;
    background-position: center;
    /* position: relative; */
    /* margin-top: 0px; */
    /* z-index: 1; */
    /* padding-top: 3%; */
}

.foo-main{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fff;
    font-size: 60px; 
    text-align: center;
    padding-top: 7%;
}


.contenedor{
    display: flex;
    justify-content: space-evenly;
}

.box{
    background: #bdc3c7; 
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  
    background: linear-gradient(to right, #2c3e50, #bdc3c7); 
    height: 270px;
    width: 320px;
    border-radius: 10px;
    padding: 20px;
    font-size: xx-large;
    margin-top: 3%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fff;
    text-align: center;
    
}

.img{
    /* width: 100%; */
    height: 50vh;
    /* margin-top: 5%; */
    background: url(https://upload.wikimedia.org/wikipedia/commons/b/bb/Hawaii_turtle_2.JPG);
    background-position: center;
    background-size: cover;
}

.tortu{
    position: absolute;
    padding-top: 3%;
}

.tortutx{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fff;
    font-size: 60px; 
    text-align: center;
    position: relative;
    margin-top: 0px;
    z-index: 1;
}

.logo{
    width: 150px;
}

.cont-noticiax{
    /* background: red; */
    max-width: 20.8%;
    padding: 20px;
}

.matrix{
    /* background: green; */
    display: flex;
    margin-top: 5%;
}

.text-header{
    text-align: center;
    font-size: x-large;
}

.vid-title{
    text-align: center;
    font-size: x-large;
    margin-bottom: -5%;
}

.cont-break{
    max-width: 700px;
    /* text-align: left; */
}

/* .break-img{
    display: flex;
} */

.break-img img{
    width: 350px;
    /* margin: auto; */
}

.break-text{
    max-width: 350px;
    
}

/* .breakingnews{
    margin-bottom: 10%;
} */

/* .new{
    text-align: left;
    text-align: left;
    font-size: 12px;
} */

.vid{
    /* position: relative; */
    /* width: 100vw; */
    /* height: 100vh; */
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    /* background-color: #0000003a; */
    border-radius: 10px;
    padding: 10px;
}

.vid h3{
    max-width: 70%;
    /* background: green; */
    text-align: center;
    margin: auto;
}

#hx{
    /* background: coral; */
    margin-left: 25px;
}

#hc{
    /* background: crimson; */
    margin-left: 50px;
}

img{
    height: 225px;
    width: 350px;
    /* max-width: 350px;
    max-height: 350px; */
    border-radius: 5px;
    /* margin: 10px */
}

.vid-1{
    margin: 0 40px;
    /* position: absolute; */
    /* top: 0px; */
    /* left: 550px; */
    /* text-align: center; */
}

.vid-2{
    margin: 0 40px;
    /* position: absolute; */
    /* top: 0px; */
    /* left: 1000px; */
    /* text-align: center; */
}

.vid-3{
    margin: 0 30px;
    /* position: absolute; */
    /* top: 0px; */
    /* left: 1400px; */
    /* text-align: center; */
}

footer{
    background: rgb(1, 1, 75);
    padding: 10px;
    margin-top: 3%;
}

.facts{
    height: 50vh;
    background: url(https://wallpaperaccess.com/full/747284.jpg);
    background-position: center;
    background-size: cover;
    filter: brightness(1);
    position: relative;
}

.data{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fff;
    font-size: 60px; 
    text-align: center;
    padding-top: 5%;
}

.conteiner{
    display: inline;
    justify-content: space-evenly;
}

.boxes{
    height: 270px;
    width: 1520px;
    border-radius: 10px;
    padding: 20px;
    margin-top: 3%;
    background: #aa4b6b;
    background: -webkit-linear-gradient(to right, #3b8d99, #6b6b83, #aa4b6b);
    background: linear-gradient(to right, #3b8d99, #6b6b83, #aa4b6b);
    display: flex;
    justify-content: space-between;
    
}


.txt{
    text-align: justify;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    color: #fff;
}